- content_for(:sidebar) do
  = render "sidebar"
.main-padding
  %h1.page-header
    - if can?(:create, User)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-plus"}) + " #{User.model_name.human}", new_intern_user_path, {class: "btn btn-primary pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"users.create_new_button")}
    = User.model_name.human(count: 2)
  .row
    - if @users.present?
      - @users.each do |user|
        .list-box-item.col-xs-6.col-md-3{ data: {id: user.id} }
          .list-box-item-padding{ data: {role: user.role} }
            .actions.mobile-visibility
              - if can?(:update, user)
                = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), [:edit, :intern, user], {class: "btn btn-xs btn-primary"}
                = "&nbsp;".html_safe
              - if current_user.eql?(user)
                = content_tag(:span, I18n.t(:"users.its_you"), {class: "its-your-account"})
              - elsif can?(:destroy, user) and !user.role.in?(%w(regular presiding))
                = link_to(content_tag(:span, nil, {class: "glyphicon glyphicon-trash"}), "javascript: void(0);", {class: "btn btn-xs btn-danger delete-resource-links", data: {id: user.id, cn: "intern/users", ct: I18n.t(:delete_item_confirmation)}})
              .clearfix
            .values
              = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-user"}) + "  #{user.email}", [:intern, user]
              - if user.corp.present?
                %br
                = user.corp.title
              %br
              = user.role_text
              .timestamp= "#{User.human_attribute_name(:last_sign_in_at)}: #{user.current_sign_in_at.present? ? I18n.l(user.current_sign_in_at, format: :long) : I18n.t(:"users.not_visited")}"

      %nav.with-pagination
        = will_paginate @users, renderer: BootstrapPagination::Rails
    - else
      .no-items-container= (params.keys & %w(query)).present? ? I18n.t(:no_entries_found) : I18n.t(:no_entries)
