.main-padding
  %h1.page-header
    - if can?(:read, User)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-arrow-left"}), back_index_path(intern_users_path), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:back_to_the_list)}
    - if can?(:update, @user)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), edit_intern_user_path(@user), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:edit_item)}
    - if can?(:create, User)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-plus"}), new_intern_user_path, {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"users.create_new_button")}
    = @user.corp.present? ? "#{Corp.model_name.human} #{@user.corp.title}" : User.model_name.human(count: 2)

  .user-profile.show-content.row
    - if @user.corp.present?
      .col-md-4
        .wappen-container
          = image_tag "wappen/#{@user.corp.image}"
      .col-md-8
        .item
          .attr-title= "#{Corp.human_attribute_name(:address)}:"
          .value
            %p
              = @user.corp.street
              %br
              = "#{@user.corp.zip} #{@user.corp.city}"
        .item
          .attr-title= "#{Corp.human_attribute_name(:umbrella_organization)}:"
          .value= @user.corp.umbrella_organization_text
        .item
          .attr-title= "#{Corp.human_attribute_name(:slogan)}:"
          .value= @user.corp.slogan
        .item
          .attr-title= "#{Corp.human_attribute_name(:foundation_date)}:"
          .value= I18n.l(@user.corp.foundation_date)
        .item
          .attr-title= "#{User.human_attribute_name(:email)}:"
          .value= @user.email
        .item
          .attr-title= "#{User.human_attribute_name(:phone)}:"
          .value= @user.phone
        .item
          .attr-title= "#{User.human_attribute_name(:website)}:"
          .value= @user.website
        - if @user.current_sign_in_at.present?
          .item
            .attr-title= "#{User.human_attribute_name(:last_sign_in_at)}:"
            .value= I18n.l(@user.current_sign_in_at, format: :long)
    - else
      .col-md-6.col-md-offset-3
        .item
          .attr-title= "#{User.human_attribute_name(:email)}:"
          .value= @user.email

        .item
          .attr-title= "#{User.human_attribute_name(:role)}:"
          .value= @user.role_text
        - if @user.current_sign_in_at.present?
          .item
            .attr-title= "#{User.human_attribute_name(:last_sign_in_at)}:"
            .value= I18n.l(@user.current_sign_in_at, format: :long)
