.main-padding
  %h1.page-header
    - if can?(:read, InventoryReport)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-arrow-left"}), intern_reports_path, {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:back_to_the_list)}
    - if can?(:read, @inventory_report)
      = link_to content_tag(:span, nil, {class: "fa fa-file-pdf-o"}), export_intern_export_index_path(export_type: "inventory_reports", cid: @corp.id, rid: @inventory_report.id, sid: @semester.id), {class: "btn btn-info local-nav-links pull-right"}
    - if can?(:update, @inventory_report)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), edit_intern_corp_semester_inventory_report_path(@corp, @semester, @inventory_report), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"inventory_reports.edit_link_title")}
    - if can?(:destroy, @inventory_report)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-trash"}), intern_corp_semester_inventory_report_path(@corp, @semester, @inventory_report), {id: "delete-reports-link", class: "btn btn-danger local-nav-links pull-right", data: {status: "unconfirmed", toggle: "tooltip", placement: "bottom", ct: I18n.t(:"inventory_reports.#{@inventory_report.reported_at.blank? ? 'unreported' : 'reported'}_destroy_confirmation")}, title: I18n.t(:"inventory_reports.destroy_link_title")}
    = I18n.t(:"inventory_reports.site_header", semester: @semester.title)
    %small
      - if @inventory_report.reported_at.present?
        = "#{InventoryReport.human_attribute_name(:reported_at)} #{I18n.l(@inventory_report.reported_at, format: :am_um)}"
      - else
        = content_tag(:span, I18n.t(:"inventory_reports.not_reported"), {style: "color: #cc0000;"})
  - if @inventory_report.reported_at.present? and @inventory_report.updated_at > @inventory_report.reported_at
    %small
      = "#{InventoryReport.human_attribute_name(:updated_at)} #{I18n.l(@inventory_report.updated_at, format: :am_um)}"
  .show-content.row
    .col-md-8.col-md-offset-2
      .wappen-container
        = image_tag "wappen/#{@corp.image}"
      - if @inventory_report.eb_count.present? or @inventory_report.eb_names.present?
        .page-header
          %h1
            = I18n.t(:"inventory_reports.form_headers.eb_data")
        .row
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:eb_count)}:"
            .value= @inventory_report.eb_count.presence || I18n.t(:n_a)
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:eb_names)}:"
            .value= @inventory_report.eb_names.presence || I18n.t(:n_a)
          .clearfix
      - if @inventory_report.cb_count.present? or @inventory_report.cb_names.present?
        .page-header
          %h1
            = I18n.t(:"inventory_reports.form_headers.cb_data")
        .row
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:cb_count)}:"
            .value= @inventory_report.cb_count.presence || I18n.t(:n_a)
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:cb_names)}:"
            .value= @inventory_report.cb_names.presence || I18n.t(:n_a)
          .clearfix
      - if @inventory_report.f_count.present? or @inventory_report.f_names.present?
        .page-header
          %h1
            = I18n.t(:"inventory_reports.form_headers.f_data")
        .row
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:f_count)}:"
            .value= @inventory_report.f_count.presence || I18n.t(:n_a)
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:f_names)}:"
            .value= @inventory_report.f_names.presence || I18n.t(:n_a)
          .clearfix
      - if @inventory_report.oiacb_count.present? or @inventory_report.oiacb_names.present?
        .page-header
          %h1
            = I18n.t(:"inventory_reports.form_headers.oiacb_data")
        .row
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:oiacb_count)}:"
            .value= @inventory_report.oiacb_count.presence || I18n.t(:n_a)
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:oiacb_names)}:"
            .value= @inventory_report.oiacb_names.presence || I18n.t(:n_a)
          .clearfix
      - if @inventory_report.aiacb_count.present? or @inventory_report.aiacb_names.present?
        .page-header
          %h1
            = I18n.t(:"inventory_reports.form_headers.aiacb_data")
        .row
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:aiacb_count)}:"
            .value= @inventory_report.aiacb_count.presence || I18n.t(:n_a)
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:aiacb_names)}:"
            .value= @inventory_report.aiacb_names.presence || I18n.t(:n_a)
          .clearfix
      - if @inventory_report.idc_count.present? or @inventory_report.idc_names.present?
        .page-header
          %h1
            = I18n.t(:"inventory_reports.form_headers.idc_data")
        .row
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:idc_count)}:"
            .value= @inventory_report.idc_count.presence || I18n.t(:n_a)
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:idc_names)}:"
            .value= @inventory_report.idc_names.presence || I18n.t(:n_a)
          .clearfix
      - if @inventory_report.ck_count.present? or @inventory_report.ck_names.present?
        .page-header
          %h1
            = I18n.t(:"inventory_reports.form_headers.ck_data")
        .row
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:ck_count)}:"
            .value= @inventory_report.ck_count.presence || I18n.t(:n_a)
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:ck_names)}:"
            .value= @inventory_report.ck_names.presence || I18n.t(:n_a)
          .clearfix
      - if @inventory_report.ah_count.present? or @inventory_report.ah_names.present?
        .page-header
          %h1
            = I18n.t(:"inventory_reports.form_headers.ah_data")
        .row
          .item
            .attr-title= "#{InventoryReport.human_attribute_name(:ah_count)}:"
            .value= @inventory_report.ah_count.presence || I18n.t(:n_a)
          .clearfix
      - 5.times do |i|
        %br

