= nested_form_for([:intern, @corp, @semester, @cc_report], html: {id: "report-form", data: {status: "unconfirmed"}}) do |f|
  - if @cc_report.errors.any?
    %ul.form-errors.alert-danger
      - @cc_report.errors.messages.each do |msg|
        - msg[1].each do |message|
          - unless message.eql?(I18n.t(:"errors.messages.invalid"))
            %li
              - if msg[0].to_s.split(".").length.eql?(2)
                - mod = msg[0].to_s.split(".")[0].singularize.camelize.constantize
                - att = msg[0].to_s.split(".")[1]
                = "#{mod.model_name.human}: #{mod.human_attribute_name(att)} #{message}"
              - else
                = "#{CcReport.human_attribute_name(msg[0])} #{message}"
  .invisible
    = f.check_box :accept_report, {id: "accept-reports-checkbox"}
  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.past_chargen")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.past_chargen")
  .form-group.row
    .col-md-6
      %div= f.label :past_senior, "#{CcReport.human_attribute_name(:past_senior_short)} #{required_asterix}".html_safe
      = f.text_field :past_senior, {class: "form-control"}
    .col-md-6
      %div= f.label :past_consenior, "#{CcReport.human_attribute_name(:past_consenior_short)} #{required_asterix}".html_safe
      = f.text_field :past_consenior, {class: "form-control"}
    .clearfix
  .form-group.row
    .col-md-6
      %div= f.label :past_subsenior, "#{CcReport.human_attribute_name(:past_subsenior_short)} #{required_asterix}".html_safe
      = f.text_field :past_subsenior, {class: "form-control"}
    .col-md-6
      %div= f.label :past_fuchsmajor, "#{CcReport.human_attribute_name(:past_fuchsmajor_short)} #{required_asterix}".html_safe
      = f.text_field :past_fuchsmajor, {class: "form-control"}
    .clearfix

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.amt_changes")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.amt_changes")
  = f.fields_for :amt_changes do |amt_change_form|
    .form-group.row
      .col-md-4
        %div= amt_change_form.label :changed_at
        = amt_change_form.text_field :changed_at, {value: (amt_change_form.object.changed_at.present? ? I18n.l(amt_change_form.object.changed_at) : nil), class: "form-control date-input"}
      .col-md-8
        %div= amt_change_form.label :description
        = amt_change_form.text_field :description, {class: "form-control"}
        = amt_change_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :amt_changes, { class: "btn btn-default btn-xs" }
    = object_error f.object, :amt_changes

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.awards")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.awards")
  = f.fields_for :awards do |award_form|
    .form-group.row
      .col-md-4
        %div= award_form.label :awarded_at
        = award_form.text_field :awarded_at, {value: (award_form.object.awarded_at.present? ? I18n.l(award_form.object.awarded_at) : nil), class: "form-control date-input"}
      .col-md-8
        %div= award_form.label :full_name
        = award_form.text_field :full_name, {class: "form-control"}
        = award_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :awards, { class: "btn btn-default btn-xs" }
    = object_error f.object, :awards

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.acceptions")
  = f.fields_for :acceptions do |acception_form|
    .form-group.row
      .col-md-3
        %div= acception_form.label :accepted_at
        = acception_form.text_field :accepted_at, {value: (acception_form.object.accepted_at.present? ? I18n.l(acception_form.object.accepted_at) : nil), class: "form-control date-input"}
      .col-md-3
        %div= acception_form.label :full_name
        = acception_form.text_field :full_name, {class: "form-control"}
      .col-md-3
        %div= acception_form.label :study
        = acception_form.text_field :study, {class: "form-control"}
      .col-md-3
        %div
          = acception_form.label :place_of_origin
        = acception_form.text_field :place_of_origin, {class: "form-control"}
        = acception_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :acceptions, { class: "btn btn-default btn-xs" }
    = object_error f.object, :acceptions

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.receptions")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.receptions")
  = f.fields_for :receptions do |reception_form|
    .form-group.row
      .col-md-4
        %div= reception_form.label :recepted_at
        = reception_form.text_field :recepted_at, {value: (reception_form.object.recepted_at.present? ? I18n.l(reception_form.object.recepted_at) : nil), class: "form-control date-input"}
      .col-md-8
        %div= reception_form.label :full_name
        = reception_form.text_field :full_name, {class: "form-control"}
        = reception_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :receptions, { class: "btn btn-default btn-xs" }
    = object_error f.object, :receptions

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.reactivations")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.reactivations")
  = f.fields_for :reactivations do |reactivation_form|
    .form-group.row
      .col-md-4
        %div= reactivation_form.label :reactivated_at
        = reactivation_form.text_field :reactivated_at, {value: (reactivation_form.object.reactivated_at.present? ? I18n.l(reactivation_form.object.reactivated_at) : nil), class: "form-control date-input"}
      .col-md-8
        %div= reactivation_form.label :full_name
        = reactivation_form.text_field :full_name, {class: "form-control"}
        = reactivation_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :reactivations, { class: "btn btn-default btn-xs" }
    = object_error f.object, :reactivations

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.absences")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.absences")
  = f.fields_for :absences do |absence_form|
    .form-group.row
      .col-md-2
        %div= absence_form.label :absenced_at
        = absence_form.text_field :absenced_at, {value: (absence_form.object.absenced_at.present? ? I18n.l(absence_form.object.absenced_at) : nil), class: "form-control date-input"}
      .col-md-5
        %div= absence_form.label :full_name
        = absence_form.text_field :full_name, {class: "form-control"}
      .col-md-5
        %div= absence_form.label :location
        = absence_form.text_field :location, {class: "form-control"}
        = absence_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :absences, { class: "btn btn-default btn-xs" }
    = object_error f.object, :absences

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.inactivations")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.inactivations")
  = f.fields_for :inactivations do |inactivation_form|
    .form-group.row
      .col-md-4
        %div= inactivation_form.label :inactivated_at
        = inactivation_form.text_field :inactivated_at, {value: (inactivation_form.object.inactivated_at.present? ? I18n.l(inactivation_form.object.inactivated_at) : nil), class: "form-control date-input"}
      .col-md-8
        %div= inactivation_form.label :full_name
        = inactivation_form.text_field :full_name, {class: "form-control"}
        = inactivation_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :inactivations, { class: "btn btn-default btn-xs" }
    = object_error f.object, :inactivations

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.reinactivations")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.reinactivations")
  = f.fields_for :reinactivations do |reinactivation_form|
    .form-group.row
      .col-md-4
        %div= reinactivation_form.label :reinactivated_at
        = reinactivation_form.text_field :reinactivated_at, {value: (reinactivation_form.object.reinactivated_at.present? ? I18n.l(reinactivation_form.object.reinactivated_at) : nil), class: "form-control date-input"}
      .col-md-8
        %div= reinactivation_form.label :full_name
        = reinactivation_form.text_field :full_name, {class: "form-control"}
        = reinactivation_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :reinactivations, { class: "btn btn-default btn-xs" }
    = object_error f.object, :reinactivations

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.punishments")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.punishments")
  = f.fields_for :punishments do |punishment_form|
    .form-group.row
      .col-md-3
        %div= punishment_form.label :punished_start
        = punishment_form.text_field :punished_start, {value: (punishment_form.object.punished_start.present? ? I18n.l(punishment_form.object.punished_start) : nil), class: "form-control date-input"}
      .col-md-3
        %div= punishment_form.label :punished_end
        = punishment_form.text_field :punished_end, {value: (punishment_form.object.punished_end.present? ? I18n.l(punishment_form.object.punished_end) : nil), class: "form-control date-input"}
      .col-md-6
        %div= punishment_form.label :full_name
        = punishment_form.text_field :full_name, {class: "form-control"}
        = punishment_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :punishments, { class: "btn btn-default btn-xs" }
    = object_error f.object, :punishments

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.suspensions")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.suspensions")
  = f.fields_for :suspensions do |suspension_form|
    .form-group.row
      .col-md-3
        %div= suspension_form.label :suspended_start
        = suspension_form.text_field :suspended_start, {value: (suspension_form.object.suspended_start.present? ? I18n.l(suspension_form.object.suspended_start) : nil), class: "form-control date-input"}
      .col-md-3
        %div= suspension_form.label :suspended_end
        = suspension_form.text_field :suspended_end, {value: (suspension_form.object.suspended_end.present? ? I18n.l(suspension_form.object.suspended_end) : nil), class: "form-control date-input"}
      .col-md-6
        %div= suspension_form.label :full_name
        = suspension_form.text_field :full_name, {class: "form-control"}
        = suspension_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :suspensions, { class: "btn btn-default btn-xs" }
    = object_error f.object, :suspensions

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.philistrations")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.philistrations")
  = f.fields_for :philistrations do |philistration_form|
    .form-group.row
      .col-md-2
        %div= philistration_form.label :philistered_at
        = philistration_form.text_field :philistered_at, {value: (philistration_form.object.philistered_at.present? ? I18n.l(philistration_form.object.philistered_at) : nil), class: "form-control date-input"}
      .col-md-5
        %div= philistration_form.label :full_name
        = philistration_form.text_field :full_name, {class: "form-control"}
      .col-md-5
        %div= philistration_form.label :address
        = philistration_form.text_field :address, {class: "form-control"}
        = philistration_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :philistrations, { class: "btn btn-default btn-xs" }
    = object_error f.object, :philistrations

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.eternities")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.eternities")
  = f.fields_for :eternities do |eternity_form|
    .form-group.row
      .col-md-4
        %div= eternity_form.label :died_at
        = eternity_form.text_field :died_at, {value: (eternity_form.object.died_at.present? ? I18n.l(eternity_form.object.died_at) : nil), class: "form-control date-input"}
      .col-md-8
        %div= eternity_form.label :full_name
        = eternity_form.text_field :full_name, {class: "form-control"}
        = eternity_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :eternities, { class: "btn btn-default btn-xs" }
    = object_error f.object, :eternities

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.dismissals")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.dismissals")
  = f.fields_for :dismissals do |dismissal_form|
    .form-group.row
      .col-md-2
        %div= dismissal_form.label :dismissed_at
        = dismissal_form.text_field :dismissed_at, {value: (dismissal_form.object.dismissed_at.present? ? I18n.l(dismissal_form.object.dismissed_at) : nil), class: "form-control date-input"}
      .col-md-5
        %div= dismissal_form.label :full_name
        = dismissal_form.text_field :full_name, {class: "form-control"}
      .col-md-5
        %div= dismissal_form.label :art
        = dismissal_form.select :art, Dismissal.art.options, {}, {class: "form-control"}
        = dismissal_form.link_to_remove content_tag(:span, nil, {class: "glyphicon glyphicon-remove"}).html_safe, {class: "btn btn-default btn-xs remove-nested-model", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"cc_reports.remove_nested_model")}
      .clearfix
  .form-group
    = f.link_to_add I18n.t(:"cc_reports.add_nested_model"), :dismissals, { class: "btn btn-default btn-xs" }
    = object_error f.object, :dismissals




  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.vacation")
  .form-group.row
    .col-md-6
      %div= f.label :vacation_start, "#{CcReport.human_attribute_name(:vacation_start_short)} #{required_asterix}".html_safe
      = f.text_field :vacation_start, {value: (f.object.vacation_start.present? ? I18n.l(f.object.vacation_start) : nil), class: "form-control date-input"}
    .col-md-6
      %div= f.label :vacation_end, "#{CcReport.human_attribute_name(:vacation_end_short)} #{required_asterix}".html_safe
      = f.text_field :vacation_end, {value: (f.object.vacation_end.present? ? I18n.l(f.object.vacation_end) : nil), class: "form-control date-input"}
    .clearfix
  .form-group.row
    .col-md-6
      %div= f.label :vacation_full_name, "#{CcReport.human_attribute_name(:vacation_full_name)} #{required_asterix}".html_safe
      = f.text_field :vacation_full_name, {class: "form-control"}
    .col-md-6
      %div= f.label :vacation_address, "#{CcReport.human_attribute_name(:vacation_address_short)} #{required_asterix}".html_safe
      = f.text_field :vacation_address, {class: "form-control"}
    .clearfix

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.new_chargen")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.new_chargen")
  .form-group.row
    .col-md-6
      %div= f.label :new_senior, "#{CcReport.human_attribute_name(:new_senior_short)} #{required_asterix}".html_safe
      = f.text_field :new_senior, {class: "form-control"}
    .col-md-6
      %div= f.label :new_consenior, "#{CcReport.human_attribute_name(:new_consenior_short)} #{required_asterix}".html_safe
      = f.text_field :new_consenior, {class: "form-control"}
    .clearfix
  .form-group.row
    .col-md-6
      %div= f.label :new_subsenior, "#{CcReport.human_attribute_name(:new_subsenior_short)} #{required_asterix}".html_safe
      = f.text_field :new_subsenior, {class: "form-control"}
    .col-md-6
      %div= f.label :new_fuchsmajor, "#{CcReport.human_attribute_name(:new_fuchsmajor_short)} #{required_asterix}".html_safe
      = f.text_field :new_fuchsmajor, {class: "form-control"}
    .clearfix

  .page-header
    %h1
      = I18n.t(:"cc_reports.form_headers.judge")
  %p.form-helper-item
    = I18n.t(:"cc_reports.form_helpers.judge")
  .form-group.row
    .col-md-6
      %div= f.label :honour_judge_first_name, "#{CcReport.human_attribute_name(:honour_judge_first_name_short)} #{required_asterix}".html_safe
      = f.text_field :honour_judge_first_name, {class: "form-control"}
    .col-md-6
      %div= f.label :honour_judge_first_address, "#{CcReport.human_attribute_name(:honour_judge_first_address_short)} #{required_asterix}".html_safe
      = f.text_field :honour_judge_first_address, {class: "form-control"}
    .clearfix
  .form-group.row
    .col-md-6
      %div= f.label :honour_judge_second_name, "#{CcReport.human_attribute_name(:honour_judge_second_name_short)} #{required_asterix}".html_safe
      = f.text_field :honour_judge_second_name, {class: "form-control"}
    .col-md-6
      %div= f.label :honour_judge_second_address, "#{CcReport.human_attribute_name(:honour_judge_second_address_short)} #{required_asterix}".html_safe
      = f.text_field :honour_judge_second_address, {class: "form-control"}
    .clearfix


  .form-group{style: "text-align: right;"}
    - if @cc_report.persisted? and @cc_report.reported_at.present?
      = f.submit I18n.t(:"cc_reports.save_changes_button"), {id: "save-changes-report-button", class: "btn btn-primary", style: "margin-right: 10px;"}
    - else
      = f.submit I18n.t(:"cc_reports.save_button"), {id: "save-report-button", class: "btn btn-warning", style: "margin-right: 10px;"}
      = f.submit I18n.t(:"cc_reports.report_button"), {id: "send-report-button", class: "btn btn-primary"}
    .clearfix
  .form-group.required-explaination
    = required_asterix
    = I18n.t(:required_explain)
  .invisible
    %span#save-changes-confirmation= I18n.t(:"cc_reports.save_changes_confirmation")
    %span#save-report-confirmation= I18n.t(:"cc_reports.save_report_confirmation")
    %span#send-report-confirmation= I18n.t(:"cc_reports.send_report_confirmation")
