.main-padding
  %h1.page-header
    - if can?(:read, @cc_report)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-arrow-left"}), intern_corp_semester_cc_report_path(@corp, @semester, @cc_report), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:back_to_the_list)}
    = I18n.t(:"cc_reports.site_header", semester: @semester.title)
    %small
      - if @cc_report.reported_at.present?
        = "#{CcReport.human_attribute_name(:reported_at)} #{I18n.l(@cc_report.reported_at, format: :short)}"
      - else
        = content_tag(:span, I18n.t(:"cc_reports.not_reported"), {style: "color: #cc0000;"})
  .reports-form.row
    .col-md-8.col-md-offset-2
      .wappen-container
        = image_tag "wappen/#{@corp.image}"
      = render "form"
