.main-padding
  %h1.page-header
    = render "show_nav"
    - if can?(:destroy, @cc_report)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-trash"}), intern_corp_semester_cc_report_path(@corp, @semester, @cc_report), {id: "delete-reports-link", class: "btn btn-danger local-nav-links pull-right", data: {status: "unconfirmed", toggle: "tooltip", placement: "bottom", ct: I18n.t(:"cc_reports.#{@cc_report.reported_at.blank? ? 'unreported' : 'reported'}_destroy_confirmation")}, title: I18n.t(:"cc_reports.destroy_link_title")}
    = I18n.t(:"cc_reports.site_header", semester: @semester.title)
    %small
      - if @cc_report.reported_at.present?
        = "#{CcReport.human_attribute_name(:reported_at)} #{I18n.l(@cc_report.reported_at, format: :am_um)}"
      - else
        = content_tag(:span, I18n.t(:"cc_reports.not_reported"), {style: "color: #cc0000;"})
  - if @cc_report.reported_at.present? and @cc_report.updated_at > @cc_report.reported_at
    %small
      = "#{CcReport.human_attribute_name(:updated_at)} #{I18n.l(@cc_report.updated_at, format: :am_um)}"
  .show-content.row
    .col-md-8.col-md-offset-2
      .wappen-container
        = image_tag "wappen/#{@corp.image}"
      .page-header
        %h1
          = I18n.t(:"cc_reports.form_headers.past_chargen")
      .row
        .item.col-md-3
          .attr-title= "#{CcReport.human_attribute_name(:past_senior_short)}:"
          .value= @cc_report.past_senior
        .item.col-md-3
          .attr-title= "#{CcReport.human_attribute_name(:past_consenior_short)}:"
          .value= @cc_report.past_consenior
        .item.col-md-3
          .attr-title= "#{CcReport.human_attribute_name(:past_subsenior_short)}:"
          .value= @cc_report.past_subsenior
        .item.col-md-3
          .attr-title= "#{CcReport.human_attribute_name(:past_fuchsmajor_short)}:"
          .value= @cc_report.past_fuchsmajor
        .clearfix
      - if @cc_report.amt_changes.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.amt_changes")
        - @cc_report.amt_changes.each do |amt_change|
          .row
            .item.col-md-4
              .attr-title= "#{AmtChange.human_attribute_name(:changed_at)}:"
              .value= amt_change.changed_at.present? ? I18n.l(amt_change.changed_at) : I18n.t(:n_a)
            .item.col-md-8
              .attr-title= "#{AmtChange.human_attribute_name(:description)}:"
              .value= amt_change.description.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.awards.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.awards")
        - @cc_report.awards.each do |award|
          .row
            .item.col-md-4
              .attr-title= "#{Award.human_attribute_name(:awarded_at)}:"
              .value= award.awarded_at.present? ? I18n.l(award.awarded_at) : I18n.t(:n_a)
            .item.col-md-8
              .attr-title= "#{Award.human_attribute_name(:full_name)}:"
              .value= award.full_name.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.acceptions.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.acceptions")
        - @cc_report.acceptions.each do |acception|
          .row
            .item.col-md-3
              .attr-title= "#{Acception.human_attribute_name(:accepted_at)}:"
              .value= acception.accepted_at.present? ? I18n.l(acception.accepted_at) : I18n.t(:n_a)
            .item.col-md-3
              .attr-title= "#{Acception.human_attribute_name(:full_name)}:"
              .value= acception.full_name.presence || I18n.t(:n_a)
            .item.col-md-3
              .attr-title= "#{Acception.human_attribute_name(:study)}:"
              .value= acception.study.presence || I18n.t(:n_a)
            .item.col-md-3
              .attr-title= "#{Acception.human_attribute_name(:place_of_origin)}:"
              .value= acception.place_of_origin.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.receptions.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.receptions")
        - @cc_report.receptions.each do |reception|
          .row
            .item.col-md-4
              .attr-title= "#{Reception.human_attribute_name(:recepted_at)}:"
              .value= reception.recepted_at.present? ? I18n.l(reception.recepted_at) : I18n.t(:n_a)
            .item.col-md-8
              .attr-title= "#{Reception.human_attribute_name(:full_name)}:"
              .value= reception.full_name.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.reactivations.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.reactivations")
        - @cc_report.reactivations.each do |reactivation|
          .row
            .item.col-md-4
              .attr-title= "#{Reactivation.human_attribute_name(:reactivated_at)}:"
              .value= reactivation.reactivated_at.present? ? I18n.l(reactivation.reactivated_at) : I18n.t(:n_a)
            .item.col-md-8
              .attr-title= "#{Reactivation.human_attribute_name(:full_name)}:"
              .value= reactivation.full_name.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.absences.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.absences")
        - @cc_report.absences.each do |absence|
          .row
            .item.col-md-2
              .attr-title= "#{Absence.human_attribute_name(:absenced_at)}:"
              .value= absence.absenced_at.present? ? I18n.l(absence.absenced_at) : I18n.t(:n_a)
            .item.col-md-5
              .attr-title= "#{Absence.human_attribute_name(:full_name)}:"
              .value= absence.full_name.presence || I18n.t(:n_a)
            .item.col-md-5
              .attr-title= "#{Absence.human_attribute_name(:location)}:"
              .value= absence.location.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.inactivations.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.inactivations")
        - @cc_report.inactivations.each do |inactivation|
          .row
            .item.col-md-4
              .attr-title= "#{Inactivation.human_attribute_name(:inactivated_at)}:"
              .value= inactivation.inactivated_at.present? ? I18n.l(inactivation.inactivated_at) : I18n.t(:n_a)
            .item.col-md-8
              .attr-title= "#{Inactivation.human_attribute_name(:full_name)}:"
              .value= inactivation.full_name.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.reinactivations.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.reinactivations")
        - @cc_report.reinactivations.each do |reinactivations|
          .row
            .item.col-md-4
              .attr-title= "#{Reinactivation.human_attribute_name(:reinactivated_at)}:"
              .value= reinactivations.reinactivated_at.present? ? I18n.l(reinactivations.reinactivated_at) : I18n.t(:n_a)
            .item.col-md-8
              .attr-title= "#{Reinactivation.human_attribute_name(:full_name)}:"
              .value= reinactivations.full_name.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.punishments.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.punishments")
        - @cc_report.punishments.each do |punishment|
          .row
            .item.col-md-3
              .attr-title= "#{Punishment.human_attribute_name(:punished_start)}:"
              .value= punishment.punished_start.present? ? I18n.l(punishment.punished_start) : I18n.t(:n_a)
            .item.col-md-3
              .attr-title= "#{Punishment.human_attribute_name(:punished_end)}:"
              .value= punishment.punished_end.present? ? I18n.l(punishment.punished_end) : I18n.t(:n_a)
            .item.col-md-6
              .attr-title= "#{Punishment.human_attribute_name(:full_name)}:"
              .value= punishment.full_name.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.suspensions.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.suspensions")
        - @cc_report.suspensions.each do |suspension|
          .row
            .item.col-md-3
              .attr-title= "#{Suspension.human_attribute_name(:suspended_start)}:"
              .value= suspension.suspended_start.present? ? I18n.l(suspension.suspended_start) : I18n.t(:n_a)
            .item.col-md-3
              .attr-title= "#{Suspension.human_attribute_name(:suspended_end)}:"
              .value= suspension.suspended_end.present? ? I18n.l(suspension.suspended_end) : I18n.t(:n_a)
            .item.col-md-6
              .attr-title= "#{Suspension.human_attribute_name(:full_name)}:"
              .value= suspension.full_name.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.philistrations.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.philistrations")
        - @cc_report.philistrations.each do |philistration|
          .row
            .item.col-md-2
              .attr-title= "#{Philistration.human_attribute_name(:philistered_at)}:"
              .value= philistration.philistered_at.present? ? I18n.l(philistration.philistered_at) : I18n.t(:n_a)
            .item.col-md-5
              .attr-title= "#{Philistration.human_attribute_name(:full_name)}:"
              .value= philistration.full_name.presence || I18n.t(:n_a)
            .item.col-md-5
              .attr-title= "#{Philistration.human_attribute_name(:address)}:"
              .value= philistration.address.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.eternities.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.eternities")
        - @cc_report.eternities.each do |eternity|
          .row
            .item.col-md-4
              .attr-title= "#{Eternity.human_attribute_name(:died_at)}:"
              .value= eternity.died_at.present? ? I18n.l(eternity.died_at) : I18n.t(:n_a)
            .item.col-md-8
              .attr-title= "#{Eternity.human_attribute_name(:full_name)}:"
              .value= eternity.full_name.presence || I18n.t(:n_a)
            .clearfix
      - if @cc_report.dismissals.present?
        .page-header
          %h1
            = I18n.t(:"cc_reports.form_headers.dismissals")
        - @cc_report.dismissals.each do |dismissal|
          .row
            .item.col-md-2
              .attr-title= "#{Dismissal.human_attribute_name(:dismissed_at)}:"
              .value= dismissal.dismissed_at.present? ? I18n.l(dismissal.dismissed_at) : I18n.t(:n_a)
            .item.col-md-5
              .attr-title= "#{Dismissal.human_attribute_name(:full_name)}:"
              .value= dismissal.full_name.presence || I18n.t(:n_a)
            .item.col-md-5
              .attr-title= "#{Dismissal.human_attribute_name(:art)}:"
              .value= dismissal.art_text
            .clearfix
      .page-header
        %h1
          = I18n.t(:"cc_reports.form_headers.vacation")
      .row
        .item.col-md-6
          .attr-title= "#{CcReport.human_attribute_name(:vacation_start_short)}:"
          .value= @cc_report.vacation_start.present? ? I18n.l(@cc_report.vacation_start) : I18n.t(:n_a)
        .item.col-md-6
          .attr-title= "#{CcReport.human_attribute_name(:vacation_end_short)}:"
          .value= @cc_report.vacation_end.present? ? I18n.l(@cc_report.vacation_end) : I18n.t(:n_a)
        .clearfix
      .row
        .item.col-md-6
          .attr-title= "#{CcReport.human_attribute_name(:vacation_full_name)}:"
          .value= @cc_report.vacation_full_name.presence || I18n.t(:n_a)
        .item.col-md-6
          .attr-title= "#{CcReport.human_attribute_name(:vacation_address)}:"
          .value= @cc_report.vacation_address.presence || I18n.t(:n_a)
        .clearfix
      .page-header
        %h1
          = I18n.t(:"cc_reports.form_headers.new_chargen")
      .row
        .item.col-md-3
          .attr-title= "#{CcReport.human_attribute_name(:new_senior_short)}:"
          .value= @cc_report.new_senior
        .item.col-md-3
          .attr-title= "#{CcReport.human_attribute_name(:new_consenior_short)}:"
          .value= @cc_report.new_consenior
        .item.col-md-3
          .attr-title= "#{CcReport.human_attribute_name(:new_subsenior_short)}:"
          .value= @cc_report.new_subsenior
        .item.col-md-3
          .attr-title= "#{CcReport.human_attribute_name(:new_fuchsmajor_short)}:"
          .value= @cc_report.new_fuchsmajor
        .clearfix
      .page-header
        %h1
          = I18n.t(:"cc_reports.form_headers.judge")
      .row
        .item.col-md-6
          .attr-title= "#{CcReport.human_attribute_name(:honour_judge_first_name)}:"
          .value= @cc_report.honour_judge_first_name.presence || I18n.t(:n_a)
        .item.col-md-6
          .attr-title= "#{CcReport.human_attribute_name(:honour_judge_first_address)}:"
          .value= @cc_report.honour_judge_first_address.presence || I18n.t(:n_a)
        .clearfix
      .row
        .item.col-md-6
          .attr-title= "#{CcReport.human_attribute_name(:honour_judge_second_name)}:"
          .value= @cc_report.honour_judge_second_name.presence || I18n.t(:n_a)
        .item.col-md-6
          .attr-title= "#{CcReport.human_attribute_name(:honour_judge_second_address)}:"
          .value= @cc_report.honour_judge_second_address.presence || I18n.t(:n_a)
        .clearfix

  %h1.page-header
    = render "show_nav"
  - 5.times do |i|
    %br
