.main-padding
  %h1.page-header
    - if can?(:read, @fencing_responsible)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-arrow-left"}), intern_fencing_responsibles_path, {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:back_to_the_show)}
    - if @fencing_responsible.corp.present?
      = I18n.t(:"fencing_responsibles.edit_header", corp: @fencing_responsible.corp.title)
    - else
      = I18n.t(:"fencing_responsibles.without_corp_title")
  .row
    .col-md-6.col-md-offset-3
      = form_for([:intern, @fencing_responsible]) do |f|
        - if @fencing_responsible.errors.any?
          %ul.form-errors.alert-danger
            = @fencing_responsible.errors.full_messages.map { |msg| content_tag(:li, msg) }.join.html_safe
        .form-group
          %div= f.label :full_name
          = f.text_field :full_name, {class: "form-control"}
        .form-group
          %div= f.label :phone
          = f.phone_field :phone, {class: "form-control"}
        .form-group
          %div= f.label :email
          = f.email_field :email , {class: "form-control"}
        .form-group
          = f.submit I18n.t(:save), {class: "btn btn-primary pull-right"}
          .clearfix



