- if params[:controller].eql?("site") and params[:action].eql?("index")#!user_signed_in? and !devise_controller?
  %nav.navbar.navbar-custom.navbar-transparent.navbar-fixed-top.one-page{role: "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#custom-collapse"}}
          %span.sr-only= "Toggle navigation"
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to I18n.t(:"application_title.short"), "#page-top", {class: "navbar-brand section-scroll"}
      #custom-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to I18n.t(:"navi_links.about"), "#about", {class: "section-scroll"}
          %li
            = link_to I18n.t(:"navi_links.corps"), "#corps", {class: "section-scroll"}
          - if @setting.ball_visible
            %li
              = link_to I18n.t(:"navi_links.ball"), "#ball", {class: "section-scroll"}
          - if @events.present?
            %li
              = link_to I18n.t(:"navi_links.events"), "#events", {class: "section-scroll"}
          %li
            = link_to I18n.t(:"navi_links.kontakt"), "#kontakt", {class: "section-scroll"}
          %li
            = link_to I18n.t(:"navi_links.internal"), intern_root_path, {data: {"no-turbolink" => true}}
- elsif user_signed_in?
  %nav.navbar.navbar-inverse.navbar-fixed-top.one-page{role: "navigation"}
    .container-fluid
      - if content_for?(:sidebar)
        .navbar-header.pull-left
          %button#mobile-sidebar-toggle.navbar-toggle.collapsed.btn.btn-default.btn-circle{ aria: { expanded: "false", controls: "navbar"}, data: { sidebar: cookies[:sidebar_toggle_msc] } }
            %span.glyphicon.glyphicon-chevron-right
      .navbar-header
        %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#custom-collapse"}}
          %span.sr-only= "Toggle navigation"
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to I18n.t(:"application_title.short"), intern_root_path, {class: "navbar-brand", data: {"no-turbolink" => true}}
      #custom-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-left
          - if [User, Semester].any?{|mod| can?(:manage, mod)}
            %li.dropdown{class: "#{'active' if params[:controller].in?(["intern/users", "intern/semesters"])}"}
              = link_to "#{I18n.t(:"navi_links.administration")} <span class='caret'></span>".html_safe, "#", {class: "dropdown-toggle", data: {toggle: "dropdown"}, role: "button", "aria-expanded" => "false" }
              %ul.dropdown-menu{role: "menu"}
                - [User, Semester].each do |mod|
                  - if can?(:manage, mod)
                    %li
                      = link_to mod.model_name.human(count: 2), send("intern_#{mod.table_name}_path"), {data: {"no-turbolink" => true}}
          - if can?(:read, Event)
            %li{class: "#{'active' if params[:controller].eql?("intern/events")}"}
              = link_to Event.model_name.human(count: 2), intern_events_path, {data: {"no-turbolink" => true}}
          - if can?(:read, Ahevent)
            %li{class: "#{'active' if params[:controller].eql?("intern/ahevents")}"}
              = link_to Ahevent.model_name.human(count: 2), intern_ahevents_path, {data: {"no-turbolink" => true}}
          - if [CcReport, InventoryReport, FencingReport].any?{|mod| can?(:read, mod)}
            %li{class: "#{'active' if params[:controller].in?(["intern/reports", "intern/cc_reports", "intern/inventory_reports", "intern/fencing_reports"])}"}
              = link_to I18n.t(:"crumbs.content_titles.reports"), intern_reports_path, {data: {"no-turbolink" => true}}
          - if [FencingDay, FencingDoctor, FencingImpartial, FencingResponsible, OpenFencingMatch].any?{|mod| can?(:read, mod)}
            %li.dropdown{class: "#{'active' if params[:controller].in?(["intern/fencing_days", "intern/fencing_responsibles", "intern/fencing_doctors", "intern/open_fencing_matches", "intern/fencing_impartials"])}"}
              = link_to "#{I18n.t(:"navi_links.fencing_part")} <span class='caret'></span>".html_safe, "#", {class: "dropdown-toggle", data: {toggle: "dropdown"}, role: "button", "aria-expanded" => "false" }
              %ul.dropdown-menu{role: "menu"}
                %li
                  = link_to FencingDay.model_name.human(count: 2), intern_fencing_days_path, {data: {"no-turbolink" => true}}
                %li
                  = link_to I18n.t(:"fencing_responsibles.area_header"), intern_fencing_responsibles_path, {data: {"no-turbolink" => true}}
                %li
                  = link_to FencingDoctor.model_name.human(count: 2), intern_fencing_doctors_path, {data: {"no-turbolink" => true}}
                %li
                  = link_to I18n.t(:"open_fencing_matches.area_header"), intern_open_fencing_matches_path, {data: {"no-turbolink" => true}}
                %li
                  = link_to FencingImpartial.model_name.human(count: 2), intern_fencing_impartials_path, {data: {"no-turbolink" => true}}
          - if [Attachment, Ballticket].any?{|mod| can?(:read, mod)} or can?(:manage, ProjectSetting)
            %li.dropdown{class: "#{'active' if params[:controller].in?(["intern/attachments", "intern/balltickets", "intern/project_settings"])}"}
              = link_to "#{I18n.t(:"navi_links.attachments")} <span class='caret'></span>".html_safe, "#", {class: "dropdown-toggle", data: {toggle: "dropdown"}, role: "button", "aria-expanded" => "false" }
              %ul.dropdown-menu{role: "menu"}
                - if can?(:read, Attachment)
                  %li
                    = link_to I18n.t(:"attachments.crumbs.protocols"), protocols_intern_attachments_path, {data: {"no-turbolink" => true}}
                  %li
                    = link_to I18n.t(:"attachments.crumbs.cash_sheets"), cash_sheets_intern_attachments_path, {data: {"no-turbolink" => true}}
                  %li
                    = link_to I18n.t(:"attachments.crumbs.others"), others_intern_attachments_path, {data: {"no-turbolink" => true}}
                - if can?(:read, Ballticket)
                  %li
                    = link_to I18n.t(:"balltickets.area_header"), intern_balltickets_path, {data: {"no-turbolink" => true}}
                - if can?(:manage, ProjectSetting)
                  %li
                    = link_to I18n.t(:"navi_links.project_settings"), edit_intern_project_setting_path(ProjectSetting.first), {data: {"no-turbolink" => true}}

        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-user"}), [:edit, :intern, current_user], {class: "mobile-text-after", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: " #{I18n.t(:"navi_links.settings", email: current_user.email)}"}
          %li
            = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-off"}), destroy_user_session_path, {class: "mobile-text-after", data: {"no-turbolink" => true, toggle: "tooltip", placement: "bottom"}, title: " #{I18n.t(:"navi_links.sign_out", email: current_user.email)}"}


