.main-padding
  %h1.page-header
    - if can?(:read, Event)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-arrow-left"}), back_index_path(intern_events_path), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:back_to_the_list)}
    - if can?(:update, @event)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), edit_intern_event_path(@event), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:edit_item)}
    - if can?(:create, Event)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-plus"}), new_intern_event_path, {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"events.create_new_button")}
    = Event.model_name.human

  .show-content.row.col-md-6.col-md-offset-3
    .item
      .attr-title= "#{Event.human_attribute_name(:corp_id)}:"
      .value= @event.corp.try(:title)
    - %w(title description event_at).each do |attr|
      .item
        .attr-title= "#{Event.human_attribute_name(attr)}:"
        .value= @event.attributes[attr].presence || I18n.t(:n_a)
    .item
      .attr-title= "#{Event.human_attribute_name(:visibility)}:"
      .value= @event.for_extern ? I18n.t(:"events.visible_for_all") : I18n.t(:"events.visible_for_intern")



