.main-padding
  %h1.page-header
    - if can?(:create, FencingImpartial)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-plus"}) + " #{FencingImpartial.model_name.human}", new_intern_fencing_impartial_path, {class: "btn btn-primary pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"fencing_impartials.create_new_button")}
    = FencingImpartial.model_name.human(count: 2)
  .row
    - if @fencing_impartials.present?
      %table.table.table-striped
        %thead
          %tr
            %th.phone-hide
              = FencingImpartial.human_attribute_name(:corp_name)
            %th
              = FencingImpartial.human_attribute_name(:full_name)
            %th
              = FencingImpartial.human_attribute_name(:email)
            %th.phone-hide
              = FencingImpartial.human_attribute_name(:phone)
            %th.phone-hide
              = FencingImpartial.human_attribute_name(:description)
            %th.phone-hide
              = FencingImpartial.human_attribute_name(:updated_at)
            %th{style: "width: 110px;"}
              = "&nbsp;".html_safe
        %tbody
          - @fencing_impartials.each do |fi|
            %tr.events-table-item{ data: {id: fi.id} }
              %td.phone-hide.phone-hide= fi.corp_name
              %td= fi.full_name
              %td= fi.email
              %td.phone-hide= fi.phone
              %td.phone-hide= fi.description
              %td.phone-hide= I18n.l(fi.updated_at, format: :date)
              %td
                - if can?(:read, fi)
                  = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-eye-open"}), [ :intern, fi], {class: "btn btn-xs btn-info"}
                  = "&nbsp;".html_safe
                - if can?(:update, fi)
                  = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), [:edit, :intern, fi], {class: "btn btn-xs btn-primary"}
                  = "&nbsp;".html_safe
                - if can?(:destroy, fi)
                  = link_to(content_tag(:span, nil, {class: "glyphicon glyphicon-trash"}), "javascript: void(0);", {class: "btn btn-xs btn-danger delete-event-link", data: {id: fi.id, ch: "intern/fencing_impartials", ct: I18n.t(:"fencing_impartials.delete_fencing_impartial_confirmation")}})
              .clearfix

    - else
      .no-items-container= (params.keys & %w(query)).present? ? I18n.t(:no_entries_found) : I18n.t(:no_entries)
