.main-padding
  %h1.page-header
    - if can?(:read, FencingImpartial)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-arrow-left"}), back_index_path(intern_fencing_impartials_path), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:back_to_the_list)}
    - if can?(:update, @fencing_impartial)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), edit_intern_fencing_impartial_path(@fencing_impartial), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:edit_item)}
    - if can?(:create, FencingImpartial)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-plus"}), new_intern_fencing_impartial_path, {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"fencing_impartial.create_new_button")}
    = FencingImpartial.model_name.human

  .show-content.row.col-md-6.col-md-offset-3
    - %w(corp_name full_name email phone description).each do |attr|
      .item
        .attr-title= "#{FencingImpartial.human_attribute_name(attr)}:"
        .value= @fencing_impartial.attributes[attr].presence || I18n.t(:n_a)



