= form_for([:intern, @corp, @semester, @fencing_report], html: {id: "report-form", data: {status: "unconfirmed"}}) do |f|
  - if @fencing_report.errors.any?
    %ul.form-errors.alert-danger
      = @fencing_report.errors.full_messages.map { |msg| content_tag(:li, msg) }.join.html_safe
  .invisible
    = f.check_box :accept_report, {id: "accept-reports-checkbox"}

  .form-group
    %div= f.label :fencing_days_count, "#{FencingReport.human_attribute_name(:fencing_days_count)} #{required_asterix}".html_safe
    = f.number_field :fencing_days_count, {class: "form-control"}

  .form-group
    %div= f.label :fencing_match_count, "#{FencingReport.human_attribute_name(:fencing_match_count)} #{required_asterix}".html_safe
    = f.number_field :fencing_match_count, {class: "form-control"}

  .form-group
    %div= f.label :good_match_count
    = f.number_field :good_match_count, {class: "form-control"}

  .form-group
    %div= f.label :first_match_count
    = f.number_field :first_match_count, {class: "form-control"}

  .form-group
    %div= f.label :second_match_count
    = f.number_field :second_match_count, {class: "form-control"}

  .form-group
    %div= f.label :third_match_count
    = f.number_field :third_match_count, {class: "form-control"}

  .form-group
    %div= f.label :fourth_match_count
    = f.number_field :fourth_match_count, {class: "form-control"}

  .form-group
    %div= f.label :fifth_match_count
    = f.number_field :fifth_match_count, {class: "form-control"}

  .form-group
    %div= f.label :sixth_match_count
    = f.number_field :sixth_match_count, {class: "form-control"}

  .form-group
    %div= f.label :bad_match_count
    = f.number_field :bad_match_count, {class: "form-control"}

  .form-group
    %div= f.label :high_match_count
    = f.number_field :high_match_count, {class: "form-control"}

  .form-group{style: "text-align: right;"}
    - if @fencing_report.persisted? and @fencing_report.reported_at.present?
      = f.submit I18n.t(:"fencing_reports.save_changes_button"), {id: "save-changes-report-button", class: "btn btn-primary", style: "margin-right: 10px;"}
    - else
      = f.submit I18n.t(:"fencing_reports.save_button"), {id: "save-report-button", class: "btn btn-warning", style: "margin-right: 10px;"}
      = f.submit I18n.t(:"fencing_reports.report_button"), {id: "send-report-button", class: "btn btn-primary"}
    .clearfix
  .form-group.required-explaination
    = required_asterix
    = I18n.t(:required_explain)
  .invisible
    %span#save-changes-confirmation= I18n.t(:"fencing_reports.save_changes_confirmation")
    %span#save-report-confirmation= I18n.t(:"fencing_reports.save_report_confirmation")
    %span#send-report-confirmation= I18n.t(:"fencing_reports.send_report_confirmation")
