%p
  Sehr geehrte Herren,
%p
  - if @art.eql?(:reported)
    das Corps #{@inventory_report.corp.try(:title)} hat über das MSC-Online-Portal einen neuen großen Corpsbestand für #{@inventory_report.semester.title} abgegeben.
  - elsif @art.eql?(:updated)
    das Corps #{@inventory_report.corp.try(:title)} hat über das MSC-Online-Portal den am #{I18n.l(@inventory_report.reported_at)} abgegebenen großen Corpsbestand für #{@inventory_report.semester.title} geändert.
  - elsif @art.eql?(:destroyed)
    das Corps #{@inventory_report.corp.try(:title)} hat über das MSC-Online-Portal den am #{I18n.l(@inventory_report.reported_at)} abgegebenen großen Corpsbestand für #{@inventory_report.semester.title} unwiderruflich gelöscht.
%p
  Sie erhalten diese E-Mail, weil Ihre E-Mail-Adresse als E-Mail-Adresse des präsidierenden oder des nächstpräsidierenden Corps eingetragen ist. Sollte das nicht mehr stimmen, so kontaktieren Sie bitte umgehend das präsidierende Corps.

- unless @art.eql?(:destroyed)
  %h1{style: "text-align: center; border-bottom: 1px solid #E5E5E5"}
    %a{href: @url, style: "color: #333333;"}
      Großer Corpsbestand vom Corps #{@inventory_report.corp.try(:title)} für #{@inventory_report.semester.title}.
      %br
      %small
        - if @art.eql?(:reported)
          Abgegeben am #{I18n.l(@inventory_report.reported_at)}
        - else
          Geändert am #{I18n.l(@inventory_report.updated_at)}

  - if @inventory_report.eb_count.present? or @inventory_report.eb_names.present?
    %h3
      = I18n.t(:"inventory_reports.form_headers.eb_data")
    %p
      %strong= "#{InventoryReport.human_attribute_name(:eb_count)}: "
      = @inventory_report.eb_count.presence || I18n.t(:n_a)
    %p
      %strong= "#{InventoryReport.human_attribute_name(:eb_names)}: "
      = @inventory_report.eb_names.presence || I18n.t(:n_a)

  - if @inventory_report.cb_count.present? or @inventory_report.cb_names.present?
    %h3
      = I18n.t(:"inventory_reports.form_headers.cb_data")
    %p
      %strong= "#{InventoryReport.human_attribute_name(:cb_count)}: "
      = @inventory_report.cb_count.presence || I18n.t(:n_a)
    %p
      %strong= "#{InventoryReport.human_attribute_name(:cb_names)}: "
      = @inventory_report.cb_names.presence || I18n.t(:n_a)

  - if @inventory_report.f_count.present? or @inventory_report.f_names.present?
    %h3
      = I18n.t(:"inventory_reports.form_headers.f_data")
    %p
      %strong= "#{InventoryReport.human_attribute_name(:f_count)}: "
      = @inventory_report.f_count.presence || I18n.t(:n_a)
    %p
      %strong= "#{InventoryReport.human_attribute_name(:f_names)}: "
      = @inventory_report.f_names.presence || I18n.t(:n_a)

  - if @inventory_report.oiacb_count.present? or @inventory_report.oiacb_names.present?
    %h3
      = I18n.t(:"inventory_reports.form_headers.oiacb_data")
    %p
      %strong= "#{InventoryReport.human_attribute_name(:oiacb_count)}: "
      = @inventory_report.oiacb_count.presence || I18n.t(:n_a)
    %p
      %strong= "#{InventoryReport.human_attribute_name(:oiacb_names)}: "
      = @inventory_report.oiacb_names.presence || I18n.t(:n_a)

  - if @inventory_report.aiacb_count.present? or @inventory_report.aiacb_names.present?
    %h3
      = I18n.t(:"inventory_reports.form_headers.aiacb_data")
    %p
      %strong= "#{InventoryReport.human_attribute_name(:aiacb_count)}: "
      = @inventory_report.aiacb_count.presence || I18n.t(:n_a)
    %p
      %strong= "#{InventoryReport.human_attribute_name(:aiacb_names)}: "
      = @inventory_report.aiacb_names.presence || I18n.t(:n_a)

  - if @inventory_report.idc_count.present? or @inventory_report.idc_names.present?
    %h3
      = I18n.t(:"inventory_reports.form_headers.idc_data")
    %p
      %strong= "#{InventoryReport.human_attribute_name(:idc_count)}: "
      = @inventory_report.idc_count.presence || I18n.t(:n_a)
    %p
      %strong= "#{InventoryReport.human_attribute_name(:idc_names)}: "
      = @inventory_report.idc_names.presence || I18n.t(:n_a)

  - if @inventory_report.ck_count.present? or @inventory_report.ck_names.present?
    %h3
      = I18n.t(:"inventory_reports.form_headers.ck_data")
    %p
      %strong= "#{InventoryReport.human_attribute_name(:ck_count)}: "
      = @inventory_report.ck_count.presence || I18n.t(:n_a)
    %p
      %strong= "#{InventoryReport.human_attribute_name(:ck_names)}: "
      = @inventory_report.ck_names.presence || I18n.t(:n_a)

  - if @inventory_report.ah_count.present? or @inventory_report.ah_names.present?
    %h3
      = I18n.t(:"inventory_reports.form_headers.ah_data")
    %p
      %strong= "#{InventoryReport.human_attribute_name(:ah_count)}: "
      = @inventory_report.ah_count.presence || I18n.t(:n_a)
