.main-padding
  %h1.page-header
    - if can?(:read, FencingDay)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-arrow-left"}), back_index_path(intern_fencing_days_path), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:back_to_the_list)}
    - if can?(:update, @fencing_day)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), edit_intern_fencing_day_path(@fencing_day), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:edit_item)}
    - if can?(:read, @fencing_day)
      = link_to content_tag(:span, nil, {class: "fa fa-file-pdf-o"}), export_intern_export_index_path(export_type: "fencing_days", fd: @fencing_day.id), {target: '_blank', class: "btn btn-primary btn-info local-nav-links pull-right"}
    - if can?(:create, FencingDay)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-plus"}), new_intern_fencing_day_path, {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"fencing_days.create_new_button")}
    = FencingDay.model_name.human

  .show-content.row.col-md-6.col-md-offset-3
    .item.col-md-2
      .attr-title= "#{FencingDay.human_attribute_name(:art)}:"
      .value= @fencing_day.art_text
    .item.col-md-5
      .attr-title= "#{FencingDay.human_attribute_name(:location)}:"
      .value= @fencing_day.location
    .item.col-md-5
      .attr-title= "#{FencingDay.human_attribute_name(:held_on)}:"
      .value= @fencing_day.held_on.present? ? I18n.l(@fencing_day.held_on, format: :am_um) : I18n.t(:k_a)
    .clearfix
    - if @fencing_day.description.present?
      .item
        .attr-title= "#{FencingDay.human_attribute_name(:description)}:"
        .value= @fencing_day.description
    .fencing-match-content{data: {fdid: @fencing_day.id}}
      .page-header
        %h2= FencingMatch.model_name.human(count: 2)
      - if @fencing_day.fencing_matches.order("fencing_matches.time_start ASC").present?
        - @fencing_day.fencing_matches.order("fencing_matches.time_start ASC").each do |fm|
          = render "intern/fencing_matches/item", fencing_day: @fencing_day, fencing_match: fm
      - else
        .no-items-container= I18n.t(:"fencing_days.no_fencing_matches")
    - if can?(:create, FencingMatch)
      %br
      = link_to I18n.t(:"fencing_days.add_nested_match"), new_intern_fencing_day_fencing_match_path(@fencing_day), {class: "btn btn-default btn-xs create-fencing-matches", data: {fdid: @fencing_day.id, toggle: "modal", target: "#fencing-matches-modal"}}

= render "intern/fencing_matches/dialog"
.invisible
  #no-fms-container.no-items-container= I18n.t(:"fencing_days.no_fencing_matches")
