!!! 5
%html{lang: "de-DE"}
  %head{prefix: "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"}
    /
      Build: #{BUILD_VERSION}
    %title= I18n.t(:"application_title.long")
    = meta_opts.html_safe
    %link{ rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "/ico/apple-touch-icon-144-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "/ico/apple-touch-icon-114-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "/ico/apple-touch-icon-72-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "57x57", href: "/ico/apple-touch-icon-57-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", href: "/ico/apple-touch-icon.png"}

    %meta{ property: "og:title", content: I18n.t(:"application_title.long") }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:url", content: "http://msc-corps.de" }
    %meta{ property: "og:site_name", content: "msc-corps.de" }
    %meta{ property: "og:image", content: root_url.slice(0..-2) + image_path("site/munich174x100.png") }
    %meta{ property: "og:description", content: I18n.t(:"metatags.description") }

    %meta{ name: "description", content: I18n.t(:"metatags.description") }
    %meta{ name: "keywords", content: I18n.t(:"metatags.keywords") }
    %meta{ name: "author", content: I18n.t(:"metatags.author") }
    %meta{ name: "robots", content: "index, follow" }
    %meta{ name: "copyright", content: I18n.t(:"metatags.keywords") }
    %meta{ name: "google-site-verification", content: "o8V1ZqupHHJb92LUa3ALyvVeICIPAodKAvkIv-5yT68" }

    = stylesheet_link_tag :application, :media => "all", "data-turbolinks-track" => true

    = javascript_include_tag :application, "data-turbolinks-track" => true
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/purl/2.3.1/purl.js"



    /[if lt IE 9]
      = javascript_include_tag 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'
      = javascript_include_tag 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'

    = csrf_meta_tag

    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55939957-3', 'auto');
        ga('send', 'pageview');



  %body#page-top{data: {spy: "scroll", target: ".navbar-fixed-top"}, class: "#{'intern' if user_signed_in? and !params[:controller].eql?("site")}" }
    /[if !IE]
      %noscript
        .alert.alert-danger{role: "alert"}= I18n.t(:no_javascript)

    = render 'messages'
    = render 'headers'

    - if content_for?(:sidebar)
      #sidebar{data: { sidebar: cookies[:sidebar_toggle_msc] }}
        #sidebar-collapse.sidebar-toggle.sidebar-collapse
          = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-chevron-left"}), "javascript: sidebar('toggle');", {class: "btn btn-default btn-circle"}
        = yield :sidebar

    #main{:role => "main", data: { sidebar: content_for?(:sidebar) ? cookies[:sidebar_toggle_msc] : "show" }}
      -# - unless params[:controller].eql?("intern/dashboard")
      -#   - if render_crumbs.frozen?
      -#     - crumbs_data = render_crumbs.to_h.dup.with_indifferent_access
      -#   - else
      -#     - crumbs_data = render_crumbs.to_h.with_indifferent_access
      -#   = crumbs_data.merge(format: :html_list, ul_class: "breadcrumb")
      - if params[:controller].eql?("site") or content_for?(:sidebar) or devise_controller?
        = yield
      - else
        %div{class: "#{params[:controller].eql?("intern/reports") ? 'container-fluid' : 'container'}"}
        = yield


    = render 'system_dialogs'

