.main-padding
  %h1.page-header
    = I18n.t(:"balltickets.area_header")
  .row
    - if @balltickets.present?
      %table.table.table-striped
        %thead
          %tr
            %th
              = Ballticket.human_attribute_name(:corp_id)
            %th
              = Ballticket.human_attribute_name(:ticket_size)
            %th
              = Ballticket.human_attribute_name(:contact_person)
            %th
              = Ballticket.human_attribute_name(:phone)
            %th
              = Ballticket.human_attribute_name(:updated_at)
            %th
              = "&nbsp;".html_safe
        %tbody
          - @balltickets.each do |b|
            - if b.corp.present?
              %tr
                %td= b.corp.try(:title)
                %td= b.ticket_size
                %td= b.contact_person
                %td= b.phone
                %td= I18n.l(b.updated_at, format: :date)
                %td
                  - if can?(:update, b)
                    = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), [:edit, :intern, b], {class: "btn btn-xs btn-primary"}
                    = "&nbsp;".html_safe
    - else
      .no-items-container= (params.keys & %w(query)).present? ? I18n.t(:no_entries_found) : I18n.t(:no_entries)
