= form_for([:intern, @ahevent]) do |f|
  - if @ahevent.errors.any?
    %ul.form-errors.alert-danger
      = @ahevent.errors.full_messages.map { |msg| content_tag(:li, msg) }.join.html_safe
  .form-group
    %div= f.label :title, "#{Ahevent.human_attribute_name(:title)} #{required_asterix}".html_safe
    = f.text_field :title, {class: "form-control"}
  .form-group
    %div= f.label :description
    = f.text_area :description, {class: "form-control"}
  .form-group
    %div= f.label :event_at, "#{Ahevent.human_attribute_name(:event_at)} #{required_asterix}".html_safe
    = f.text_field :event_at , {class: "datetimepicker"}
  .form-group
    = f.submit I18n.t(:save), {class: "btn btn-primary pull-right"}
    .clearfix
  .form-group.required-explaination
    = required_asterix
    = I18n.t(:required_explain)
