.sidebar-item
  = form_tag intern_ahevents_path, {class: "nav nav-sidebar navbar-form", method: :get, id: "search-query-lists-form", style: "padding-left: 0; padding-right: 0;"} do
    .invisible
      = hidden_field_tag "visibility", params[:visibility]
      - if params[:status].is_a?(Array)
        - params[:status].each do |s|
          = check_box_tag "status[]", s, true
    = text_field_tag :query, params[:query], {class: "form-control", placeholder: I18n.t(:"ahevents.filter.default_search"), style: "width: 100%;"}
    = submit_tag I18n.t(:search_button), {class: "invisible"}
.sidebar-item.with-filter-links
  = link_to "#{content_tag(:span, nil, {class: "glyphicon glyphicon-#{(Array(params[:status]).blank? or !Array(params[:status]).all?{|a| a.in?(%w(actual old))} or Array(params[:status]).include?("actual")) ? 'check' : 'unchecked'}", style: "color: #333333;"})} #{I18n.t(:"ahevents.filter.actual")}".html_safe, refine_filter_event_status(:actual)

  = link_to "#{content_tag(:span, nil, {class: "glyphicon glyphicon-#{(Array(params[:status]).include?("old")) ? 'check' : 'unchecked'}", style: "color: #333333;"})} #{I18n.t(:"ahevents.filter.old")}".html_safe, refine_filter_event_status(:old)
.sidebar-item.reset-filter-link
  = link_to I18n.t(:reset_filter), intern_ahevents_path
