- content_for(:sidebar) do
  = render "sidebar"
.main-padding
  %h1.page-header
    - if can?(:create, Ahevent)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-plus"}) + " #{Ahevent.model_name.human}", new_intern_ahevent_path, {class: "btn btn-primary pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"ahevents.create_new_button")}
    = Ahevent.model_name.human(count: 2)
  .row
    - if @ahevents.present?
      %table.table.table-striped
        %thead
          %tr
            %th
              = Event.human_attribute_name(:title)
            %th
              = Event.human_attribute_name(:event_at)
            %th.phone-hide
              = Event.human_attribute_name(:description)
            %th{style: "width: 110px;"}
              = "&nbsp;".html_safe
        %tbody
          - @ahevents.each do |ahevent|
            %tr.events-table-item{ data: {id: ahevent.id} }
              %td= ahevent.title
              %td= I18n.l(ahevent.event_at, format: :long)
              %td.phone-hide= ahevent.description
              %td
                - if can?(:read, ahevent)
                  = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-eye-open"}), [ :intern, ahevent], {class: "btn btn-xs btn-info"}
                  = "&nbsp;".html_safe
                - if can?(:update, ahevent)
                  = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), [:edit, :intern, ahevent], {class: "btn btn-xs btn-primary"}
                  = "&nbsp;".html_safe
                - if can?(:destroy, ahevent)
                  = link_to(content_tag(:span, nil, {class: "glyphicon glyphicon-trash"}), "javascript: void(0);", {class: "btn btn-xs btn-danger delete-event-link", data: {id: ahevent.id, ch: "intern/ahevents", ct: I18n.t(:"ahevents.delete_event_confirmation")}})
              .clearfix

      %nav.with-pagination
        = will_paginate @ahevents, renderer: BootstrapPagination::Rails
    - else
      .no-items-container= (params.keys & %w(query)).present? ? I18n.t(:no_entries_found) : I18n.t(:no_entries)
