.main-padding
  %h1.page-header
    - if can?(:read, Ahevent)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-arrow-left"}), back_index_path(intern_ahevents_path), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:back_to_the_list)}
    - if can?(:update, @ahevent)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), edit_intern_ahevent_path(@ahevent), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:edit_item)}
    - if can?(:create, Ahevent)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-plus"}), new_intern_ahevent_path, {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"ahevents.create_new_button")}
    = Ahevent.model_name.human

  .show-content.row.col-md-6.col-md-offset-3
    - %w(title description event_at).each do |attr|
      .item
        .attr-title= "#{Ahevent.human_attribute_name(attr)}:"
        .value= @ahevent.attributes[attr].presence || I18n.t(:n_a)



