.main-padding
  %h1.page-header
    - if can?(:read, Semester)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-arrow-left"}), back_index_path(intern_semesters_path), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:back_to_the_list)}
    - if can?(:update, @semester)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), edit_intern_semester_path(@semester), {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:edit_item)}
    - if can?(:create, Semester)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-plus"}), new_intern_semester_path, {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:"semesters.create_new_button")}
    = Semester.model_name.human

  .show-content.row.col-md-6.col-md-offset-3
    - %w(title description).each do |attr|
      .item
        .attr-title= "#{Semester.human_attribute_name(attr)}:"
        .value= @semester.attributes[attr].presence || I18n.t(:n_a)
    .item
      .attr-title= "#{Semester.human_attribute_name(:next_current)}:"
      .value= @semester.next_current ? I18n.t(:word_yes) : I18n.t(:word_no)



