.main-padding
  %h1.page-header
    = I18n.t(:"crumbs.content_titles.reports")
  %p
    = link_to I18n.t(:"fencing_reports.statistics"), intern_statistics_path(sum_model: "fencing_reports"), {class: "btn btn-default pull-right", data: {"no-turbolink" => true} }
    = link_to I18n.t(:"inventory_reports.statistics"), intern_statistics_path(sum_model: "inventory_reports"), {class: "btn btn-default pull-right", style: "margin-right: 10px;", data: {"no-turbolink" => true} }
    %strong= "CCM = "
    CC-Meldung;
    %br
    %strong= "GCB = "
    großer Corpsbestand;
    %br
    %strong= "FFB = "
    Fechtfragebogen.
  .row
    - if @semesters.present? and @corps.present?
      - sem_length = @semesters.length
      %table.table
        %tr
          %th{rowspan: 3}= "&nbsp;".html_safe
          %th{colspan: 3}
            - if @prev_semester.eql?(0)
              = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-chevron-left"}), 'javascript: void(0);', {class: "btn btn-default", disabled: true}
            - else
              = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-chevron-left"}), intern_reports_path(csid: @prev_semester), {class: "btn btn-default"}
          %th{colspan: 3, style: "text-align: center;"}
            .btn-group{role: "group"}
              %button.btn.btn-default.dropdown-toggle{type: "button", "data-toggle" => "dropdown", "aria-expanded" => "false"}
                = "#{@semesters.first.title} - #{@semesters.last.title}"
                %span.caret
              %ul.dropdown-menu{ role: "menu" }
                - @all_semesters.each do |semester_group|
                  %li
                    - if semester_group.first.present? and semester_group.last.present?
                      = link_to "#{semester_group.first.title} - #{semester_group.last.title}", intern_reports_path(csid: semester_group.last.id)
                    - else
                      = link_to semester_group.first.title, intern_reports_path(csid: semester_group.first.id)
          %th{colspan: 3, style: "text-align: right;"}
            - if @next_semester.eql?(0)
              = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-chevron-right"}), 'javascript: void(0);', {class: "btn btn-default", disabled: true}
            - else
              = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-chevron-right"}), intern_reports_path(csid: @next_semester), {class: "btn btn-default"}
        %tr
          - @semesters.each_with_index do |semester, index|
            %th{colspan: 3, style: "text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;"}= semester.title
        %tr
          - @semesters.each_with_index do |semester, index|
            %td{style: "border-left: 1px solid #ddd;"}= "CCM"
            %td= "GCB"
            %td{style: "border-right: 1px solid #ddd;"}= "FFB"
        - @corps.each do |corp|
          %tr
            %td= corp.title
            - @semesters.each_with_index do |semester, index|
              - %w(cc_report inventory_report fencing_report).each do |item|
                - record = instance_variable_get("@#{item.pluralize}").detect{|m| m.semester_id.eql?(semester.id) and m.corp_id.eql?(corp.id)}
                %td{style: "#{item.eql?("cc_report") ? 'border-left: 1px solid #ddd;' : (item.eql?("fencing_report") ? 'border-right: 1px solid #ddd;' : '') }"}
                  - if record.present?
                    - if record.reported_at.present?
                      - if can?(:read, record)
                        = link_to I18n.l(record.reported_at, format: :date), polymorphic_path([:intern, corp, semester, record]), {style: "font-size: 9px;", data: {"no-turbolink" => true}}
                      - else
                        = "-"
                    - else
                      - if can?(:update, record)
                        = link_to I18n.t(:create_report), polymorphic_path([:edit, :intern, corp, semester, record]), {class: "btn btn-danger btn-xs", style: "font-size: 9px;", data: {"no-turbolink" => true}}
                      - else
                        = "-"
                  - else
                    - if can?(:create, item.camelize.constantize)
                      = link_to I18n.t(:create), polymorphic_path([:new, :intern, corp, semester, item.to_sym]), {class: "btn btn-default btn-xs", style: "font-size: 9px;", data: {"no-turbolink" => true}}
                    - else
                      = "-"
    - else
      .no-items-container= I18n.t(:no_reports)
