.main-padding
  %h1.page-header
    - if can?(:read, @open_fencing_match)
      = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-arrow-left"}), intern_open_fencing_matches_path, {class: "btn btn-primary local-nav-links pull-right", data: {toggle: "tooltip", placement: "bottom"}, title: I18n.t(:back_to_the_show)}
    = I18n.t(:"open_fencing_matches.edit_header", corp: @open_fencing_match.corp.try(:title))

  .row
    .col-md-6.col-md-offset-3
      = form_for([:intern, @open_fencing_match]) do |f|
        - if @open_fencing_match.errors.any?
          %ul.form-errors.alert-danger
            = @open_fencing_match.errors.full_messages.map { |msg| content_tag(:li, msg) }.join.html_safe
        .form-group
          %div= f.label :first_match
          = f.text_field :first_match, {class: "form-control"}
        .form-group
          %div= f.label :second_match
          = f.text_field :second_match, {class: "form-control"}
        .form-group
          %div= f.label :third_match
          = f.text_field :third_match, {class: "form-control"}
        .form-group
          %div= f.label :fourth_match
          = f.text_field :fourth_match, {class: "form-control"}
        .form-group
          %div= f.label :fifth_match
          = f.text_field :fifth_match, {class: "form-control"}
        .form-group
          %div= f.label :sixth_match
          = f.text_field :sixth_match, {class: "form-control"}
        .form-group
          %div= f.label :high_match
          = f.text_field :high_match, {class: "form-control"}
        .form-group
          = f.submit I18n.t(:save), {class: "btn btn-primary pull-right"}
          .clearfix



