.main-padding
  %h1.page-header
    = I18n.t(:"open_fencing_matches.area_header")
  .row
    - if @open_fencing_matches.present?
      %table.table.table-striped
        %thead
          %tr
            %th
              = OpenFencingMatch.human_attribute_name(:corp_id)
            %th
              = OpenFencingMatch.human_attribute_name(:first_match_short)
            %th
              = OpenFencingMatch.human_attribute_name(:second_match_short)
            %th
              = OpenFencingMatch.human_attribute_name(:third_match_short)
            %th
              = OpenFencingMatch.human_attribute_name(:fourth_match_short)
            %th
              = OpenFencingMatch.human_attribute_name(:fifth_match_short)
            %th
              = OpenFencingMatch.human_attribute_name(:sixth_match_short)
            %th
              = OpenFencingMatch.human_attribute_name(:high_match_short)
            %th.phone-hide
              = OpenFencingMatch.human_attribute_name(:updated_at)
            %th
              = "&nbsp;".html_safe
        %tbody
          - @open_fencing_matches.each do |ofm|
            %tr
              %td= ofm.corp.try(:title)
              %td= ofm.first_match
              %td= ofm.second_match
              %td= ofm.third_match
              %td= ofm.fourth_match
              %td= ofm.fifth_match
              %td= ofm.sixth_match
              %td= ofm.high_match
              %td= I18n.l(ofm.updated_at, format: :date)
              %td
                - if can?(:update, ofm)
                  = link_to content_tag(:span, nil, {class: "glyphicon glyphicon-pencil"}), [:edit, :intern, ofm], {class: "btn btn-xs btn-primary"}
                  = "&nbsp;".html_safe

              .clearfix

    - else
      .no-items-container= (params.keys & %w(query)).present? ? I18n.t(:no_entries_found) : I18n.t(:no_entries)
