.main-padding
  .row
    .project-setting-form.col-md-8.col-md-offset-2
      = form_for([:intern, @project_setting]) do |f|
        - if @project_setting.errors.any?
          %ul.form-errors.alert-danger
            = @project_setting.errors.full_messages.map { |msg| content_tag(:li, msg) }.join.html_safe
        %h1.page-header
          = I18n.t(:"project_settings.page_header_presiding")
        .form-group
          %div= f.label :presiding_info, "#{ProjectSetting.human_attribute_name(:presiding_info)} #{required_asterix}".html_safe
          %div.ps-desc= I18n.t(:"project_settings.descriptions.presiding_info")
          = f.text_area :presiding_info, {class: "form-control", rows: 3}
          %div.ps-help= I18n.t(:"project_settings.helps.text_simple_format")
        .form-group.row
          .col-md-4
            %div= f.label :presiding_x_name, "#{ProjectSetting.human_attribute_name(:presiding_x_name)} #{required_asterix}".html_safe
            = f.text_field :presiding_x_name, {class: "form-control"}
          .col-md-4
            %div= f.label :presiding_x_phone, "#{ProjectSetting.human_attribute_name(:presiding_x_phone)} #{required_asterix}".html_safe
            = f.text_field :presiding_x_phone, {class: "form-control"}
          .col-md-4
            %div= f.label :presiding_x_email, "#{ProjectSetting.human_attribute_name(:presiding_x_email)} #{required_asterix}".html_safe
            = f.text_field :presiding_x_email, {class: "form-control"}
          .clearfix
        .form-group.row
          .col-md-4
            %div= f.label :presiding_xx_name, "#{ProjectSetting.human_attribute_name(:presiding_xx_name)} #{required_asterix}".html_safe
            = f.text_field :presiding_xx_name, {class: "form-control"}
          .col-md-4
            %div= f.label :presiding_xx_phone, "#{ProjectSetting.human_attribute_name(:presiding_xx_phone)} #{required_asterix}".html_safe
            = f.text_field :presiding_xx_phone, {class: "form-control"}
          .col-md-4
            %div= f.label :presiding_xx_email, "#{ProjectSetting.human_attribute_name(:presiding_xx_email)} #{required_asterix}".html_safe
            = f.text_field :presiding_xx_email, {class: "form-control"}
          .clearfix
        .form-group.row
          .col-md-4
            %div= f.label :presiding_xxx_name, "#{ProjectSetting.human_attribute_name(:presiding_xxx_name)} #{required_asterix}".html_safe
            = f.text_field :presiding_xxx_name, {class: "form-control"}
          .col-md-4
            %div= f.label :presiding_xxx_phone, "#{ProjectSetting.human_attribute_name(:presiding_xxx_phone)} #{required_asterix}".html_safe
            = f.text_field :presiding_xxx_phone, {class: "form-control"}
          .col-md-4
            %div= f.label :presiding_xxx_email, "#{ProjectSetting.human_attribute_name(:presiding_xxx_email)} #{required_asterix}".html_safe
            = f.text_field :presiding_xxx_email, {class: "form-control"}
          .clearfix
        .form-group.row
          .col-md-4
            %div= f.label :presiding_kw_name, "#{ProjectSetting.human_attribute_name(:presiding_kw_name)} #{required_asterix}".html_safe
            = f.text_field :presiding_kw_name, {class: "form-control"}
          .col-md-4
            %div= f.label :presiding_kw_phone, "#{ProjectSetting.human_attribute_name(:presiding_kw_phone)} #{required_asterix}".html_safe
            = f.text_field :presiding_kw_phone, {class: "form-control"}
          .col-md-4
            %div= f.label :presiding_kw_email, "#{ProjectSetting.human_attribute_name(:presiding_kw_email)} #{required_asterix}".html_safe
            = f.text_field :presiding_kw_email, {class: "form-control"}
          .clearfix
        .form-group
          %div= f.label :presiding_bank, "#{ProjectSetting.human_attribute_name(:presiding_bank)} #{required_asterix}".html_safe
          %div.ps-desc= I18n.t(:"project_settings.descriptions.presiding_bank")
          = f.text_area :presiding_bank, {class: "form-control", rows: 4}
          %div.ps-help= I18n.t(:"project_settings.helps.text_simple_format")
        .form-group
          %div= f.label :presiding_prev_email, "#{ProjectSetting.human_attribute_name(:presiding_prev_email)} #{required_asterix}".html_safe
          %div.ps-desc= I18n.t(:"project_settings.descriptions.presiding_prev_email")
          = f.text_field :presiding_prev_email, {class: "form-control"}
        .form-group
          %div= f.label :presiding_next_email, "#{ProjectSetting.human_attribute_name(:presiding_next_email)} #{required_asterix}".html_safe
          %div.ps-desc= I18n.t(:"project_settings.descriptions.presiding_next_email")
          = f.text_field :presiding_next_email, {class: "form-control"}

        %h1.page-header
          = I18n.t(:"project_settings.page_header_ball")
        .form-group
          = f.check_box :ball_visible
          = f.label :ball_visible
          %div.ps-desc= I18n.t(:"project_settings.descriptions.ball_visible")
        .form-group{style: "text-align: center;"}
          %h4
            FESTBALL DER MÜNCHNER CORPS
          %p
            Der Münchener Senioren Convent und der Corpsphilisterverband München geben sich die Ehre, Sie zum
          %p
            Festball der Münchner Corps
          = f.text_field :ball_date, {class: "form-control"}
          %p
            in den Bayerischen Hof, Promenadeplatz 2
          %p
            einzuladen.
        .form-group
          %div= f.label :ball_programm, "#{ProjectSetting.human_attribute_name(:ball_programm)} #{required_asterix}".html_safe
          = f.text_area :ball_programm, {class: "form-control", rows: 4}
          %div.ps-help= I18n.t(:"project_settings.helps.text_simple_format")
        .form-group
          %div= f.label :ball_info, "#{ProjectSetting.human_attribute_name(:ball_info)} #{required_asterix}".html_safe
          = f.text_area :ball_info, {class: "form-control", rows: 4}
          %div.ps-help= I18n.t(:"project_settings.helps.text_simple_format")
        .form-group
          %div= f.label :ball_contact, "#{ProjectSetting.human_attribute_name(:ball_contact)} #{required_asterix}".html_safe
          = f.text_area :ball_contact, {class: "form-control", rows: 2}
          %div.ps-help= I18n.t(:"project_settings.helps.text_simple_format")



        .form-group
          = f.submit I18n.t(:save), {class: "btn btn-primary pull-right"}
          .clearfix
        .form-group.required-explaination
          = required_asterix
          = I18n.t(:required_explain)
