= form_for([:intern, attachment]) do |f|
  - if attachment.errors.any?
    %ul.form-errors.alert-danger
      = attachment.errors.full_messages.map { |msg| content_tag(:li, msg) }.join.html_safe
  = f.hidden_field :typecast
  = f.hidden_field :semester_id
  = f.hidden_field :from_action
  .form-group.row
    .col-md-8
      %div= f.label :data_file, "#{Attachment.human_attribute_name(:data_file)} #{required_asterix}".html_safe
      = f.file_field :data_file
    .col-md-4
      - if attachment.new_record?
        = f.submit I18n.t(:upload), {class: "btn btn-primary pull-right", style: "margin-top: 13px;"}
      - else
        %button{type: "submit", class: "btn btn-primary pull-right", style: "margin-top: 13px;"}
          %span.glyphicon.glyphicon-floppy-open
      .clearfix
    .clearfix
  - if attachment.new_record?
    .form-group.required-explaination
      = required_asterix
      = I18n.t(:required_explain)
