.main-padding
  - (Constants::ATTACHMENTS_TYPECAST - %i(ocsc_protocol osc_protocol cash_sheet)).each do |typecast|
    %h1.page-header
      = I18n.t(:"attachments.typecasts.#{typecast}")
    - if @attachments.select{|a| a.typecast.to_s.eql?(typecast.to_s)}.present?
      = render "protocol_list", attachments: @attachments.select{|a| a.typecast.to_s.eql?(typecast.to_s)}, header: Attachment.model_name.human, from_action: "others"
    - else
      .no-items-container= I18n.t(:"attachments.lists_empty")
      - if instance_variable_get("@new_#{typecast}").present?
        .col-md-6.col-md-offset-3
          .page-header
            %h6= I18n.t(:"attachments.create_headers.#{typecast}")
          = render "form", attachment: instance_variable_get("@new_#{typecast}")
        .clearfix
